@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,300);
/* line 3, ../_sass/screen.scss */
html,
body {
  height: 100%;
}

/* line 19, ../_sass/screen.scss */
.pane {
  height: 100%;
}
/* line 22, ../_sass/screen.scss */
.pane.landing {
  background: #004454;
}

/* line 25, ../_sass/screen.scss */
.vcenter {
  text-align: center;
}
/* line 28, ../_sass/screen.scss */
.vcenter:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* line 36, ../_sass/screen.scss */
.vcenter-target {
  display: inline-block;
  vertical-align: middle;
}

/* line 41, ../_sass/screen.scss */
a.btn {
  margin: 10px;
  padding: 5px;
  border-radius: 8px;
  color: #004454;
}
/* line 47, ../_sass/screen.scss */
a.btn:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  transition: 0.2s;
}

/* line 54, ../_sass/screen.scss */
i.fa {
  width: 20px;
}

/* line 59, ../_sass/screen.scss */
.pane {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #fff;
  line-height: 1.5;
  text-align: center;
  font-weight: 300;
}
@media (max-width: 768px) {
  /* line 67, ../_sass/screen.scss */
  .pane .title {
    font-size: 2.5rem;
  }
  /* line 68, ../_sass/screen.scss */
  .pane .subtitle {
    font-size: 1.25rem;
  }
}
@media (min-width: 768px) {
  /* line 71, ../_sass/screen.scss */
  .pane .title {
    font-size: 3rem;
  }
  /* line 72, ../_sass/screen.scss */
  .pane .subtitle {
    font-size: 1.5rem;
  }
}
@media (min-width: 984px) {
  /* line 75, ../_sass/screen.scss */
  .pane .title {
    font-size: 5rem;
  }
  /* line 76, ../_sass/screen.scss */
  .pane .subtitle {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  /* line 79, ../_sass/screen.scss */
  .pane .title {
    font-size: 6rem;
  }
  /* line 80, ../_sass/screen.scss */
  .pane .subtitle {
    font-size: 2.25rem;
  }
}
